   {% extends "__layout.html" %}

    {% block content %}
    <div class="letter2">
      ОБО МНЕ
    </div>
    <img src="/static/Pictures/aboutava.jpg" alt="Аватарка" class="image-middle-ava">
    <div class="letter5">
      ФИО: Сарапулов Игорь Александрович<br>
      Дата рождения: 6 ноября 2004 года.<br>
      Место рождения: п. Залари, Заларинский р-н. Иркутская область, Россия.<br>
      Место проживания: г. Иркутск, Россия.<br>
      Место обучения: ИрНИТУ, институт ИТиАД, факультет ИСТб-22-2.<br>
      О себе:
      Увлекаюсь программированием, спортом, люблю гулять на свежем воздухе, являюсь 3D дизайнером
      продвинутого уровня.<br>
      Снизу вы можете перейти по ссылкам моих социальных сетей:<br>
      <div>
      <div class="avatarkiallign">
         <a href="https:vk.com/mirnyidk"><img src="/static/Pictures/socseti_ico/vk.png" alt="vk" class="avatarki"></a>
         <a href="https:instagram.com/mirnyidk"><img src="/static/Pictures/socseti_ico/insta.png" alt="instagram" class="avatarki"> </a>
         <a href="https:t.me/@mirnyidk"><img src="/static/Pictures/socseti_ico/telega.png"alt="telegram" class="avatarki"></a>
         <a href="https://discordapp.com/users/430297191584759808/"><img src="/static/Pictures/socseti_ico/discord-icon-7.png" alt="discord" class="avatarki"></a>
         <a href="https://steamcommunity.com/id/mdkaifero"><img src="/static/Pictures/socseti_ico/Steam_icon_logo.svg.png" alt="steam" class="avatarki"></a>
         <a href="https://el.istu.edu/user/profile.php?id=58887"><img src="/static/Pictures/socseti_ico/moodle.png" alt="moodle" class="avatarki"></a>
     </div>
      </div>
    </div>
    <link rel="stylesheet" href="/static/background1str.css">
    <link rel="stylesheet" href="/static/image-settings.css">
    {% endblock %}