{% extends "__layout.html" %}

{% block content %}
<div class="letter2">
Глоссарий по игре DotA 2
</div>
<div class="letter6">
<div class="letter5">
AoE (Area of Effect) или АоЕ способности</div><br>
Способность, которая действует на определенной области. AoE- есть не только АоЕ способности, также АоЕ имеют и предметы – этот урон по области.<br>

Пример употребления: “Берите героев с сильными AoE-заклинаниями, потому что во вражеской команде есть герои, которые имеют иллюзии!”.<br>


<div class="letter5">
Buff (бафф)</div><br>
Любой положительный эффект или усиливающее заклинание. Баффы дают разнообразные бонусы — от дополнительной скорости атаки до сопротивления урону. Баффер — игрок, специализирующийся на наложении баффов на союзников.<br>

Пример употребления: “Огр, кинь на меня бафф и я убью всех один!”.<br>


<div class="letter5">
Caster (кастер, маг)</div><br>
Герой, чьей основной ударной силой являются заклинания. Как правило, герои-кастеры обладают большим запасом маны, разнообразием заклинаний и небольшим временем их перезарядки — это позволяет им закидывать вражескую команду магией.<br>

Пример употребления: “У них в команде много кастеров — нужно собрать корам Black King Bar”.<br>


<div class="letter5">
Cooldown (CD, КД)</div><br>
Время, за которое перезаряжается та или иная способность героя. <br>

Пример употребления: “У меня Black Hole кд 80 секунд!”.<br>


<div class="letter5">
Creeps (крипы)</div><br>
Союзные юниты, которые помогают вам пробить путь на базу противника. Они выходят на линии вместе с героями и сражаются вместе с ними плечом к плечу против вражеских крипов и героев. Иными словами, крипы — это “массовка” в Dota 2, пушечное мясо, которому вы помогаете сносить здания врага. Кроме того, вражеские крипы — основной источник золота в Dota 2.<br>

Пример употребления: “Отдефайте Т1 от крипов!”.<br>


<div class="letter5">
Debuff (дебафф, проклятие)</div><br>
Любой негативный эффект или заклинание. Полная противоположность баффу — оно ослабляет вашего героя и/или не дает пользоваться теми или иными способностями.

Пример употребления: “Кинь дебафф на Svenа”.<br>


<div class="letter5">
Deny (денай, добивание)</div><br>
Убийство союзного крипа для того, чтобы его опыт и деньги не достался врагу. Когда у дружественного крипа становится меньше половины здоровья, вы получаете возможность наносить ему урон: нанеся последний удар по нему, вы не только избавите беднягу от страданий, но и не позволите противникам получить его деньги и опыт. Одна из основных обязанностей героев-саппортов на линии — добивать своих крипов. В некоторых случаях подобным образом можно добить и союзного героя.<br>

Пример употребления: “У меня 28 добитых крипов и из них 18 денаев!”.<br>


<div class="letter5">
Farm (фарм, фарминг)</div><br>
Процесс заработка золота. Не важно, каким образом герой получает золото: от добивания крипов на линии, от шинкования нейтральных монстров в лесу или посредством убийств вражеских героев — за все это он получает деньги. Чем лучше фарм, тем быстрее в инвентаре героя появятся дорогие и мощные артефакты, которые помогут ему еще эффективнее уничтожать врагов. Фарм — главное святое слово для любого героя-кэрри.<br>

Пример употребления: “Не могу фармить, потому что вражеских хард-лайнер мешает добивать крипов”.<br>


<div class="letter5">
FB (first blood, фб, первая кровь)</div><br>
Самое первое убийство в матче, открывающее счет. Игрок, сделавший это, получает намного больше золота за фраг и быстро вырывается вперед. FB на счету вашей команды — это отличное начало партии.<br>

Пример употребления: “Я в начале игры сделал ФБ”.<br>


<div class="letter5">
Feeder (фидер, корм)</div><br>
Игрок, который слишком часто погибает, чем дает преимущество вражеской команде. В Dota 2 оставаться в живых несколько важнее, чем убивать героев противника: если вы часто «отдаетесь» врагам, то не только теряете собственные деньги и опыт, но и подводите всю свою команду.<br>

Пример употребления: “У нас в команде фидер!”.<br>


<div class="letter5">
Gank (gang kill, ганк, ганг)</div><br>
Стратегия, при которой несколько героев объединяются, чтобы неожиданно напасть на врага и (в идеале) убить его. Если на мини-карте вы видите, как вокруг вашего героя собираются противники, знайте — вас собираются “ганкнуть”.<br>

Пример употребления: “Нужен ганг на низ!”.<br>


<div class="letter5">
Harassment (харас)</div><br>
Продолжительное нанесение урона героям на линии. Если вы пытаетесь спокойно качаться на линии, однако враги постоянно плюются в вас болезненными заклинаниями, метают стрелы и при любой возможности бьют по лицу — то это и есть высокий харас. Впрочем, никто не запрещает вам делать то же самое, но в этом деле надо быть осторожным.<br>

Пример употребления: “Надо подхарасить вражеского героя, чтобы он потратил весь хилл или вовсе умер!”.


<div class="letter5">
Mega Creep (мегакрип)</div><br>
Усиленная версия обычного крипа. Когда вашей команде удастся пробиться на базу противника и разрушить все бараки ближнего или дальнего боя, с вашей стороны начнут рождаться намного более сильные юниты. Противник будет получать за них меньше золота, а их сила доставит им немало проблем.<br>

Пример употребления: “Враги сделали мега крипов, будет очень сложно дефать трон!”.<br>


<div class="letter5">
Deffens (деф, дефать)</div><br>
Защищать базу или героя.<br>

Пример употребления: “У нас падает вышка, нам необходимо отдефать её!”<br>


<div class="letter5">
True Sight (трусайт, просвет)</div><br>
Эффект, который дает возможность видеть невидимых героев. Настоящая головная боль для героев, которые полагаются на невидимость. True Sight дают некоторые способности и предметы.<br>

Пример употребления: “Нам нужен просвет, потому что у них в команде есть Riki!”.<br>


<div class="letter5">
Triple (трипла)</div><br>
Стратегия, при которой на одной линии одновременно стоят три героя с одной стороны. Каждый получает меньше опыта, но у такой команды больше шансов убить вражеского героя и защититься в случае нападения.<br>

Пример употребления: “У них наверху трипла — мне здесь тяжко, помогите!”.<br>


<div class="letter5">
Tower (тавер, башня, вышка)</div><br>
Основное защитное сооружение в Dota 2, наносящее большой урон и не позволяющее вам пройти на базу противника. Партия сводится к тому, чтобы разрушить все башни врага по одной или нескольким линиям и уничтожить его главное строение. Разрушение башен дает золото всей команде. О них мы тоже поговорим в следующих статьях.<br>

Пример употребления: “Сносите вышку, пока они все наверху”.<br>


<div class="letter5">
Team Kill (тимкилл, тимвайп, тимвайт)</div><br>
Ситуация, когда вам удается убить всю команду противника. Отличное время для безопасного убийства Рошана или разноса вражеской базы.<br>

Пример употребления: “Сделали тимвайт и выиграли игру”.<br>


<div class="letter5">
Stun (стан)</div><br>
Эффект оглушения. Оглушенный противник не может двигаться, атаковать или использовать способности — в течение ограниченного времени он полностью беззащитен.<br>

Пример употребления: “Кинь в него стан!”.<br>


<div class="letter5">
Solo (соло)</div><br>
Cтратегия, при которой на линии качается один герой. С одной стороны, в этом случае он получает больше опыта (в Dota 2 опыт от убийства крипов делится между всеми союзными героями, находящимися рядом). С другой, стоять на линии сразу против двоих противников намного сложнее.<br>

Пример употребления: “Я могу стоять соло на лайне!”.<br>


<div class="letter5">
Streak (стрик)</div>серия убийств. Если вам удается убивать вражеских героев и оставаться в живых, вы набираете стрик — для игрового баланса, награда за вашу голову тоже повышается с каждым фрагом. Таким образом, чем больше убийств вам удается сделать в течение одной жизни, тем больше ваш стрик и тем больше золота получит противник, который вас в конце концов спустит с небес на землю.<br>

Пример употребления: “У меня стрик из 10 убийств/10 выигранных игр на Pudge”.<br>


<div class="letter5">
Silence (сайленс, сало)</div><br>
Особый эффект (дебаффа), запрещающий герою использовать заклинания в течение ограниченного времени. Настоящая проблема для героев, которые в бою полагаются в основном на силу своих способностей: вовремя наложенная немота может обезвредить того или иного персонажа.<br>

Пример употребления: “На мне сало”.<br>


<div class="letter5">
Summoner (суммонер)</div><br>
Герой, который имеет способность призыва существ.<br>

Пример употребления: “Возьми шейкера, они пикнули суммонеров”.<br>


<div class="letter5">
Nuke (нюк)</div><br>
Заклинание, моментально наносящее большое количество урона. Многие способности героев в Dota 2 являются нюками — их довольно просто применять, что удобно для постоянного хараса героев противника.<br>

Пример употребления: “Не подставляйся под их нюки — у тебя не осталось хилла!”.<br>


<div class="letter5">
Escape (эскейп, побег)</div><br>
Герои, у которых есть способности, позволяющие им быстро убежать из драки, спасаясь от смерти. Особенностью этих героев могут быть способности невидимости или телепортации. Несмотря на то, что эти герои могут быстро отступить, они также могут быстро внедриться в битву, используя элемент неожиданности.<br>

Пример употребления: “У вражеского мидера нету эскейпа!”.<br>


<div class="letter5">
Хил/хилер – это герои или предметы, которые восстанавливают здоровья команды.</div><br>

Пример употребления: “У меня закончился хил!”. “У врагов есть хилер — его нужно убить первым!”<br>

<div class="letter3">
<a href="http://127.0.0.1:5000/roles"> Роли и позиции в игре </a></div><br>
Support (Саппорт, 5 позиция – полная поддержка)  <br>
Самые бедные герои на карте. Они в основном привязаны к одной из линий и оберегают своего кор-героя от агрессии врага. Именно “пятерки” обеспечивают команде обзор вардами, покупают курьера и расходные предметы (сентри, дасты, смоки). На эту позицию в основном берут героев с полезными заклинаниями на всех стадиях игры и которым почти не нужно золото и предметы.<br>

Пример употребления: “Возьмите саппортов в изи-лайн”.<br>


<div class="letter5">
Support (саппорт, 4-ая позиция – частичная поддержка)</div> <br>
Герои поддержки. Их главная задача  обеспечение комфортных условий кор-игрокам (керри, мид, оффлейн) и создание неудобств врагам. Саппортами выступают 2 игрока команды. Принято их разделять на 4 и 5 позиции. “Четверки” — роум-герои, которые больше перемещаются по карте, пытаются делать убийства на линии, контролируют руны и так далее. Также они собирают предметы, которые бафают союзников<br>

Пример употребления: “Возьмите саппортов в хард-лайн”.<br>


<div class="letter5">
Roamer (роумер, гангер)</div><br>
Герой, который почти не стоит на своей линии, но бегает по всей карте, помогая союзникам убивать вражеских персонажей. Во многом благодаря усилиям роумера команде удается стабильно ганкать героев противника, но играть на этой роли надо уметь.<br>

Пример употребления: “У них есть герой, который роумит”.<br>


<div class="letter5">
Хардлейнер (оффлейнер, 3 позиция)</div> <br>
Это игрок, который стоит на сложной линии. Понятие “сложной” сейчас немного неактуально. Раньше крипы на одной из боковых линий встречались гораздо ближе к вражеской вышке. Получать опыт и золото в такой ситуации было крайне сложно, особенно учитывая что стоять нередко приходилось сразу против троих вражеских персонажей.<br>

В таких условиях играть мог герой только с наличием “эскейпа” (невидимости, уклонения, быстрого перемещения) или крайне живучий “толстый” персонаж. В современной Доте баланс линий лучше, и играть на “сложной” проще. К тому же на помощь хардлейнеру иногда отправляют героя поддержки.<br>

Пример употребления: “Осталось пикнуть 3 позицию”.<br>


<div class="letter5">
Mider (Мидер, Соло мид, 2-ая позиция)</div> <br>
Игрок центральной линии. Название роли как бы намекает, что он стоит линию в одиночку. Мидеров принято считать второй позицией команды. Это герой-плеймейкер. Он быстрее всех получает опыт и уровень, имеет относительно хороший фарм (добычу золота) в начале игры и обычно сильные способности для ранних драк.<br>

Пример употребления: “Мидер – дно!”.<br>


<div class="letter5">
Carry (кэрри, керри)</div><br>
Тип особо сильных и опасных героев, чей потенциал раскрывается на поздних этапах игры. Кэрри — это те персонажи, которые способны “вытащить” игру из самого неблагоприятного расклада, при условии, что они получают достаточно опыта и золота. Игроки, которые берут на себя роль кэрри в команде, должны сосредоточиться на эффективном получении золота и избегании смерти.<br>

Пример употребления: “У нашего кэрри нету слотов”.<br>

<div class="letter5">
Карта</div><br>
Bot (bottom line, бот, низ, нижняя линия) — как ни странно, линия, расположенная внизу.<br>


Dire (злые, тьма) — одна из двух сторон конфликта Dota 2, антипод Radiant. Их база располагается в правом верхнем углу карты.<br>


Jungle (forest, лес, джангл) — область, в которой возрождаются нейтральные монстры, убийство которых приносит опыт и деньги — так же, как и смерть крипов на линии.<br>


Line (лайн, линия, сторона) — одно из трех направлений движения крипов. Есть три основных линии — центральная (мид), нижняя (бот) и верхняя (топ).<br>


Mid (Middle Line, мид, центр) — центральная линия, она же самая короткая. Как правило, в первые минуты игры именно на этом направлении разворачивается дуэль двух героев — по одному с каждой стороны.<br>


Top (top line, топ, верх) – Верхняя линия.<br>

Radiant (добрые, свет)<br>
Одна из двух сторон конфликта Dota 2, антипод Dire. Их база располагается в левом нижнем углу карты.<br>

<div class="letter5">
Roshan (Rosh, Роша)</div><br>
Уникальный и очень сильный монстр, убийство которого дает золото всей команде. Кроме того, Рошан роняет предмет Aegis of Immortal, который дает своему обладателю возможность тут же возродиться после смерти и вернуться в бой с полными силами. Убийство Рошана может перевернуть ход всего матча.<br>

<div class="letter5">
Rune (руна)</div><br>
Особый предмет, дающий временные бонусы. Каждые две минуты на карте появляется одна руна. Мест ее появления два (выбираются случайным образом) — оба места располагаются на реке, делящей карту Dota 2 на две равные части. Всего существует пять видов рун:<br>

Руна Ускорения (дает максимальную скорость передвижения)<br>
Руна Регенерации (за несколько секунд восстанавливает ваш запас здоровья и маны)<br>
Руна Иллюзий (создает две копии вашего героя)<br>
Руна Двойного урона (внезапно — в два раза увеличивает ваш урон)<br>
Руна Невидимости (думаю, вы и так понимаете).<br>
Secret Shop (секретный магазин, лесной магаз)<br>
Особое место на карте, где можно купить самые мощные и дорогие предметы, необходимые для создания наиболее мощных и дорогих артефактов. Таких магазинов два — по одному с каждой стороны.<br>

<div class="letter5">
Side Shop (сайд шоп, боковой магазин)</div><br>
Магазин с ограниченным ассортиментом предметов, который располагается на боковых линиях.<br>

<div class="letter5">
Ward Place (вардплейс)</div><br>
Особое место на карте, куда удобно ставить Observer Ward, дающий видимость в небольшой зоне. Особыми знаками на карте Dota 2 отмечены лишь четыре вардплейса, однако на деле их гораздо больше — экспериментируйте!<br>
</div>
<div>
<img src="/static/Pictures/heros-dota.png" alt="Герои Доты" class="image-middle">
</div>
<link rel="stylesheet" href="/static/background1str.css">
<link rel="stylesheet" href="/static/image-settings.css">
{% endblock %}