{% extends "__layout.html" %}
{% block content %}
<div class="letter2">
    «СОВРЕМЕННЫЙ <br>
    МНОГОПОЛЬЗОВАТЕЛЬСКИЙ <br> 
    ШЕДЕВР!»<br>
</div>
<div class="letter3">
    <a href="https://www.dota2.com/">Dota 2</a> — многопользовательская командная компьютерная игра в жанре MOBA, 
    разработанная и изданная корпорацией Valve. Игра является продолжением DotA — 
    пользовательской карты-модификации для игры <a href="https://worldofwarcraft.com/ru-ru/story/timeline/chapter-4">Warcraft III: Reign of Chaos </a> и дополнения к ней <a href="https://worldofwarcraft.com/ru-ru/story/timeline/chapter-5">Warcraft III: The Frozen Throne</a>.
</div>
<!--ЗАКАНЧИВАЮ КАРУСЕЛЬКУ ТУТА ДА-->
<div class="container-fluid my-carousel">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/Pictures/carousel/1.jpg" class="d-block w-100" alt="carousel1">
      </div>
      <div class="carousel-item">
        <img src="/static/Pictures/carousel/2.jpg" class="d-block w-100" alt="carousel2">
      </div>
      <div class="carousel-item">
        <img src="/static/Pictures/carousel/3.jpg" class="d-block w-100" alt="carousel3">
      </div>
      <div class="carousel-item">
        <img src="/static/Pictures/carousel/4.jpg" class="d-block w-100" alt="carousel4">
      </div>
      <div class="carousel-item">
        <img src="/static/Pictures/carousel/5.jpg" class="d-block w-100" alt="carousel5">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
<!--ЗАКАНЧИВАЮ КАРУСЕЛЬКУ ТУТА ДА-->
<div class="letter6">
    Разработка игры началась в 2009 году, когда компания Valve приняла на работу основного разработчика <a href="https://www.dota2.com/"> DotA </a> — <a href="https://ru.wikipedia.org/wiki/IceFrog">IceFrog</a>, а 
    летом 2010 года подала заявку на регистрацию этой торговой марки. 13 октября 2010 года на игровом портале Game Informer игра 
    была анонсирована к выходу в 2011 году. 15 августа 2011 года в официальном блоге был опубликован трейлер к игре. <a href="https://www.dota2.com/">Dota 2</a> вышла 
    в июле 2013 года после того, как два года находилась в стадии бета-тестирования.
    Изначально <a href="https://www.dota2.com/">Dota 2</a> была выпущена на игровом движке Source, после чего в 2015 году была портирована на Source 2, став первой работающей
    на нём игрой. В <a href="https://www.dota2.com/">Dota 2</a> предусмотрена возможность создавать пользовательские режимы игры, оформление карты и косметические предметы
    для героев, после чего добавить их в <a href="https://www.dota2.com/">Dota 2</a> при помощи Steam Workshop. <a href="https://www.dota2.com/">Dota 2</a> является одной из наиболее популярных игр в Steam и получила
    в целом положительные отзывы критиков за игровой процесс, качество производства и сохранение положительных сторон своей предшественницы.
    Среди основных недостатков игры была отмечена сложность обучения. <br>
    <a href="https://www.dota2.com/">Dota 2</a> является активной киберспортивной дисциплиной, в которой профессиональные команды со всего мира соревнуются в различных лигах и турнирах.
    Премиум-турниры по <a href="https://www.dota2.com/">Dota 2</a> имеют призовые фонды в миллионы долларов, не раз становившиеся крупнейшими в истории киберспорта. 
    Самый крупный турнир по игре — The International, ежегодно проводимый Valve. Начиная с сезона 2017/18 Valve также организует Dota Pro Circuit — профессиональный сезон,
    проводящийся в течение года. Крупные профессиональные турниры по <a href="https://www.dota2.com/">Dota 2</a> транслируются на видеостриминговых сервисах, иногда набирая свыше миллиона зрителей одновременно.</p>
</div>
<link rel="stylesheet" href="/static/background1str.css">
<link rel="stylesheet" href="/static/letter2.css">
<link rel="stylesheet" href="/static/letter3.css">
<link rel="stylesheet" href="/static/carousel.css">
<link rel="js" href="/static/carousel.js">
{% endblock %}