    {% extends "__layout.html" %}

    {% block content %}
    <div class="letter2">
        ЗВАНИЯ
    </div>
    <div class="letter3">
        Здесь представлены все доступные звания в <a href="https://www.dota2.com/">DotA 2</a>!<br>
     По мере улучшения вашего уровня игры Guardian будет повышаться.<br>
    </div>
    <div class="letter6">
        Начнём с того, что в игре <a href="https://www.dota2.com/">DoTA 2</a> присутствует рейтинговая система, которая измеряется числом MMR (Matchmaking Rating), <br>
    чем больше MMR, тем больше показатель твоего уровня игры, отображающийся для других игроков, <br>
    Игрок получает звание в зависимости от количества MMR, снизу представлена таблица измерения званий относительно MMR. <br>
    </div>
    <div class="tablica">
        <table class="tableca">
            <thead class="theadca">
                <tr><th>Herald 1</th><th>Herald 2</th><th>Herald 3</th><th>Herald 4</th><th>Herald 5</th></tr>
            </thead>
            <tbody>
                <tr><th><img src="/static/Pictures/ranks/herald1.png" alt="Herald"></th><th><img src="/static/Pictures/ranks/herald2.png" alt="Herald"></th><th><img src="/static/Pictures/ranks/herald3.png" alt="Herald"></th><th><img src="/static/Pictures/ranks/herald4.png" alt="Herald"></th><th><img src="/static/Pictures/ranks/herald5.png" alt="Herald"></th></tr>
                <tr><td>~0 MMR</td><td>~150 MMR</td><td>~300 MMR</td><td>~460 MMR</td><td>~610 MMR</td></tr>
            </tbody>
            <thead>
                <tr><th>Guardian 1</th><th>Guardian 2</th><th>Guardian 3</th><th>Guardian 4</th><th>Guardian 5</th></tr>
            </thead>
            <tbody>
                <tr><th><img src="/static/Pictures/ranks/guardian1.png" alt="Guardian"></th><th><img src="/static/Pictures/ranks/guardian2.png"alt="Guardian"></th><th><img src="/static/Pictures/ranks/guardian3.png"alt="Guardian"></th><th><img src="/static/Pictures/ranks/guardian4.png"alt="Guardian"></th><th><img src="/static/Pictures/ranks/guardian5.png"alt="Guardian"></th></tr>
                <tr><td>~770 MMR</td><td>~920 MMR</td><td>~1080 MMR</td><td>~1230 MMR</td><td>~1440 MMR</td></tr>
            </tbody>
            <thead>
                <tr><th>Crusader 1</th><th>Crusader 2</th><th>Crusader 3</th><th>Crusader 4</th><th>Crusader 5</th></tr>
            </thead>
            <tbody>
                <tr><th><img src="/static/Pictures/ranks/crusader1.png" alt="Crusader"></th><th><img src="/static/Pictures/ranks/crusader2.png" alt="Crusader"></th><th><img src="/static/Pictures/ranks/crusader3.png" alt="Crusader"></th><th><img src="/static/Pictures/ranks/crusader4.png" alt="Crusader"></th><th><img src="/static/Pictures/ranks/crusader5.png" alt="Crusader"></th></tr>
                <tr><td>~1540 MMR</td><td>~1700 MMR</td><td>~1850 MMR</td><td>~2000 MMR</td><td>~2150 MMR</td></tr>
            </tbody>
            <thead>
                <tr><th>Archon 1</th><th>Archon 2</th><th>Archon 3</th><th>Archon 4</th><th>Archon 5</th></tr>
            </thead>
            <tbody>
                <tr><th><img src="/static/Pictures/ranks/anchor1.png" alt="Anchor"></th><th><img src="/static/Pictures/ranks/anchor2.png" alt="Anchor"></th><th><img src="/static/Pictures/ranks/anchor3.png" alt="Anchor"></th><th><img src="/static/Pictures/ranks/anchor4.png" alt="Anchor"></th><th><img src="/static/Pictures/ranks/anchor5.png" alt="Anchor"></th></tr>
                <tr><td>~2310 MMR</td><td>~2450 MMR</td><td>~2610 MMR</td><td>~2770 MMR</td><td>~2930 MMR</td></tr>
            </tbody>
            <thead>
                <tr><th>Legend 1</th><th>Legend 2</th><th>Legend 3</th><th>Legend 4</th><th>Legend 5</th></tr>
            </thead>
            <tbody>
                <tr><th><img src="/static/Pictures/ranks/legend1.png" alt="Legend"></th><th><img src="/static/Pictures/ranks/legend2.png" alt="Legend"></th><th><img src="/static/Pictures/ranks/legend3.png" alt="Legend"></th><th><img src="/static/Pictures/ranks/legend4.png" alt="Legend"></th><th><img src="/static/Pictures/ranks/legend5.png" alt="Legend"></th></tr>
                <tr><td>~3080 MMR</td><td>~3230 MMR</td><td>~3390 MMR</td><td>~3540 MMR</td><td>~3700 MMR</td></tr>
            </tbody>
            <thead>
                <tr><th>Ancient 1</th><th>Ancient 2</th><th>Ancient 3</th><th>Ancient 4</th><th>Ancient 5</th></tr>
            </thead>
            <tbody>
                <tr><th><img src="/static/Pictures/ranks/ancient1.png" alt="Ancient"></th><th><img src="/static/Pictures/ranks/ancient2.png" alt="Ancient"></th><th><img src="/static/Pictures/ranks/ancient3.png" alt="Ancient"></th><th><img src="/static/Pictures/ranks/ancient4.png" alt="Ancient"></th><th><img src="/static/Pictures/ranks/ancient5.png" alt="Ancient"></th></tr>
                <tr><td>~3850 MMR</td><td>~4000 MMR</td><td>~4150 MMR</td><td>~4300 MMR</td><td>~4460 MMR</td></tr>
            </tbody>
            <thead>
                <tr><th>Divine 1</th><th>Divine 2</th><th>Divine 3</th><th>Divine 4</th><th>Divine 5</th></tr>
            </thead>
            <tbody>
                <tr><th><img src="/static/Pictures/ranks/divine1.png" alt="Divine"></th><th><img src="/static/Pictures/ranks/divine2.png" alt="Divine"></th><th><img src="/static/Pictures/ranks/divine3.png" alt="Divine"></th><th><img src="/static/Pictures/ranks/divine4.png" alt="Divine"></th><th><img src="/static/Pictures/ranks/divine5.png" alt="Divine"></th></tr>
                <tr><td>~4620 MMR</td><td>~4820MMR</td><td>~5020 MMR</td><td>~5220 MMR</td><td>~5420 MMR</td></tr>
            </tbody>
            <thead>
                <tr><th>Immortal 1</th><th>Immortal 2</th><th>Immortal 3</th><th>Immortal 4</th><th>Immortal 5</th></tr>
            </thead>
            <tbody>
                <tr><th><img src="/static/Pictures/ranks/immortal1.png" alt="Immortal"></th><th><img src="/static/Pictures/ranks/immortal2.png" alt="Immortal"></th><th><img src="/static/Pictures/ranks/immortal3.png" alt="Immortal"></th><th><img src="/static/Pictures/ranks/immortal4.png" alt="Immortal"></th><th><img src="/static/Pictures/ranks/immortal5.png" alt="Immortal"></th></tr>
                <tr><td>~>5600 MMR</td><td>Top 1000 MMR</td><td>Top 100 MMR</td><td>Top 10 MMR</td><td>~Top 1 MMR</td></tr>
            </tbody>
        </table>
    </div>
        
    <link rel="stylesheet" href="/static/background1str.css">
    <link rel="stylesheet" href="/static/tablica.css">
    {% endblock %}