{% extends "__layout.html" %}

{% block content %}
<div class="letter2">
    Роли в DoTA 2!
</div>
<div class="letter3">
    Роли в <a href="https://www.dota2.com/">Dota 2</a> определяют основной стиль игры героя в команде, в зависимости от его атрибутов и способностей. Благодаря ролям игроки распределяют свои обязанности во время игры, отчего повышается уровень командной игры. Команда, в составе которой герои разных ролей, весьма динамична и имеет в своём распоряжении множество тактик.
</div>
<div class="letter5">
    Всего в игре 5 ролей (или позиций):
</div>
<div class="letter4">
<strong><p>1.</strong> Кэрри, керри. В подавляющем большинстве случаев кэрри — это герой, который наносит урон основной атакой. Исключения крайне редки (stronganehallow the Lycan, волк-оборотень, воюет призванными существами). Чем больше купит артефактов на выживаемость и урон, тем сильнее он станет — и потому кэрри берёт с карты максимум золота (по одной из оценок, более трети). Но, как противовес, в начале игры он крайне слаб, и к нему привязано внимание саппортов. Идёт вместе с саппортом на ту линию, где проще убивать крипов (при прочих равных это горизонтальная линия — нижняя для Света и верхняя для Тьмы). </p><br>
<strong><p>2.</strong> Мидер, мидлейнер. Боевые роли остальных четырёх позиций могут быть самые разные (танк, магический урон, инициатор боёв, целитель и прочее), они отличаются в первую очередь поведением на линии и вне боя. Мидеры сражаются «один на один» на центральной линии и потому в начале игры имеют самый высокий уровень. А значит, мидер, незаметно сместившийся на другую линию, обеспечивает там критический перевес сил. И наоборот, удачно подготовленная засада на мидера даёт много золота и опыта. Как правило, герои на позиции мидера должны обладать сильными заклинаниями, чтобы реализовать этот временный выигрыш по уровню.</p><br>
<strong><p>3.</strong> Офлейнер, хардлейнер играет на более сложной линии — при прочих равных это верхняя для Света и нижняя для Тьмы — и пытается в трудной ситуации не умирать и набрать максимальный уровень. Часто (хоть и не всегда) в бою офлейнер будет «танком» или инициатором боёв.</p><br>
<strong><p>4.</strong> Полусаппо́рт, семи-саппорт, частичная поддержка, саппорт 4-й позиции может, в зависимости от актуальных игровых трендов и текущей ситуации на карте, помогать офлейнеру или кэрри, или перемещаться туда, где нужно обеспечить сиюминутный перевес (роумер). Если одна из линий временно опустела, туда идёт охотиться полусаппорт — а не саппорт.</p><br>
<strong><p>5.</strong> Саппо́рт, фулл-саппорт, полная поддержка, саппорт 5-й позиции имеет минимум золота, и помогает остальным героям заклинаниями. В начале игры находится, как правило, близко к кэрри и опекает его, помогая заклинаниями и подтягивая точку, где крипы встречаются, ближе к собственной башне теми или другими способами (например, добиванием или отводом в лес собственных крипов). Его задачей также является установка вардов (глаз-наблюдателей), покупка расходных материалов и артефактов, полезных для всей команды. Зачастую на пятой позиции играет капитан команды.</p><br>
</div>
<div class="letter5">
    Снизу представлены типы каждой из ролей в игре DOTA2:

<div class="image-settings">
<img src="/static/Pictures/roles.png" alt="Типы ролей" class="image-middle">
</div>
Подробнее о ролях вы можете ознакомиться в <a href="http://127.0.0.1:5000/glossary">глоссарии</a>.
</div>
<link rel="stylesheet" href="/static/background1str.css">
<link rel="stylesheet" href="/static/image-settings.css">
{% endblock %}